.rail-main {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    left: 50px;
    transition: left ease-out 400ms;
}

.rail-tile {
    padding-right: 20px;
    display: table-cell;
}
